
  <div class="row ">

    <div class="col shadow-sm p-2 bg-dark rounded card_legau">

      <div class="card  h-100 w-100 bg-danger text-light shadow p-2 mb-7" style="width: 18rem;">

        <img src="../../assets/end.png" class="card-img-top shadow-sm p-1 bg-dark rounded">

        <div class="card-body">

          <h5 class="card-title font-weight-bolder">End</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Estudante de D.S - Desenhista</h6>
          <p class="card-text">Nasci em 2007 e atualmente me resido em Guarulhos. Gostaria de trabalhar na área de T.I ou na de engenharia. No meu tempo livre gosto de desenhar meus personagens e escrever.</p>

          <a href="https://www.instagram.com/breadtheend/" class="card-link text-dark">Instagram</a>
          <a href="https://github.com/EndGabs" class="card-link text-dark">Github</a>
        </div>

      </div>

    </div>

    <div class="col shadow-sm p-2 bg-dark rounded card_legau">

      <div class="card h-100 w-100 bg-success text-light shadow p-2 mb-7" style="width: 18rem;">
        <img src="../../assets/gagab.png" class="card-img-top shadow-sm p-1 bg-dark rounded" >

        <div class="card-body">

          <h5 class="card-title font-weight-bolder">Gabs</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Estudante de D.S - Designer Digital</h6>
          <p class="card-text">eu já to quase beirando a maior idade, não deu nem p gastar o reu primario aff. Enfim, sou de São Paulo e desenho e trabalho com comissão de mascotes e logos no meu tempo livre. É isso, eu acho-</p>

          <a href="https://www.instagram.com/kiwii.stk/" class="card-link text-dark">Instagram</a>
          <a href="https://github.com/EndGabs" class="card-link text-dark">Github</a>
        </div>
      </div>

    </div>
  </div>


